*\ *
*.o
*.new
binutils/ranlib
as-5.?.?/asxmak/cygwin/build/*
as-5.?.?/asxmak/darwin/build/*
as-5.?.?/asxmak/djgpp/build/*
as-5.?.?/asxmak/linux/build/*
as-5.?.?/asxmak/cygwin/exe/*
as-5.?.?/asxmak/darwin/exe/*
as-5.?.?/asxmak/djgpp/exe/*
as-5.?.?/asxmak/linux/exe/*
