#!/bin/sh
#
# An example as6809.conf file.
#
# 'make binutils' copies this file into /usr/local/m6809/bin.
# You need to rename this file to as6809.conf, then modify it as
# necessary.

# Set to the location of the as6809, aslib, and aslink binaries.
# If you installed these in a different place, indicate that here.
# If you use the gcc6809 installation procedure, this is automatically
# correct.

path_to_as6809=/usr/local/m6809/bin/as6809
path_to_ar6809=/usr/local/m6809/bin/aslib
path_to_ld6809=/usr/local/m6809/bin/aslink
